/.idea
/vendor
/www/images
/node_modules
.env
.DS_Store
Thumbs.db
composer.lock
composer.phar
.project
/.settings
/app/Http/routes.php.BASE.php
/app/Http/routes.php.LOCAL.php
/app/Http/routes.php.REMOTE.php
