@charset "UTF-8";

@font-face {
  font-family: "finance-solid";
  src:url("../fonts/finance-solid.eot");
  src:url("../fonts/finance-solid.eot?#iefix") format("embedded-opentype"),
    url("../fonts/finance-solid.woff") format("woff"),
    url("../fonts/finance-solid.ttf") format("truetype"),
    url("../fonts/finance-solid.svg#finance-solid") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-fi]:before {
  font-family: "finance-solid" !important;
  content: attr(data-fi);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fi-"]:before,
[class*=" fi-"]:before {
  font-family: "finance-solid" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-001:before {
  content: "a";
}
.fi-014:before {
  content: "b";
}
.fi-027:before {
  content: "c";
}
.fi-040:before {
  content: "d";
}
.fi-053:before {
  content: "e";
}
.fi-054:before {
  content: "f";
}
.fi-041:before {
  content: "g";
}
.fi-028:before {
  content: "h";
}
.fi-015:before {
  content: "i";
}
.fi-002:before {
  content: "j";
}
.fi-003:before {
  content: "k";
}
.fi-016:before {
  content: "l";
}
.fi-029:before {
  content: "m";
}
.fi-042:before {
  content: "n";
}
.fi-055:before {
  content: "o";
}
.fi-056:before {
  content: "p";
}
.fi-043:before {
  content: "q";
}
.fi-030:before {
  content: "r";
}
.fi-017:before {
  content: "s";
}
.fi-004:before {
  content: "t";
}
.fi-005:before {
  content: "u";
}
.fi-031:before {
  content: "v";
}
.fi-018:before {
  content: "w";
}
.fi-019:before {
  content: "x";
}
.fi-006:before {
  content: "y";
}
.fi-007:before {
  content: "z";
}
.fi-020:before {
  content: "A";
}
.fi-021:before {
  content: "B";
}
.fi-008:before {
  content: "C";
}
.fi-009:before {
  content: "D";
}
.fi-022:before {
  content: "E";
}
.fi-023:before {
  content: "F";
}
.fi-010:before {
  content: "G";
}
.fi-012:before {
  content: "H";
}
.fi-024:before {
  content: "I";
}
.fi-011:before {
  content: "J";
}
.fi-025:before {
  content: "K";
}
.fi-026:before {
  content: "L";
}
.fi-013:before {
  content: "M";
}
.fi-039:before {
  content: "N";
}
.fi-052:before {
  content: "O";
}
.fi-065:before {
  content: "P";
}
.fi-078:before {
  content: "Q";
}
.fi-077:before {
  content: "R";
}
.fi-064:before {
  content: "S";
}
.fi-051:before {
  content: "T";
}
.fi-038:before {
  content: "U";
}
.fi-037:before {
  content: "V";
}
.fi-050:before {
  content: "W";
}
.fi-063:before {
  content: "X";
}
.fi-076:before {
  content: "Y";
}
.fi-075:before {
  content: "Z";
}
.fi-062:before {
  content: "0";
}
.fi-049:before {
  content: "1";
}
.fi-036:before {
  content: "2";
}
.fi-035:before {
  content: "3";
}
.fi-048:before {
  content: "4";
}
.fi-061:before {
  content: "5";
}
.fi-074:before {
  content: "6";
}
.fi-073:before {
  content: "7";
}
.fi-060:before {
  content: "8";
}
.fi-047:before {
  content: "9";
}
.fi-034:before {
  content: "!";
}
.fi-033:before {
  content: "\"";
}
.fi-046:before {
  content: "#";
}
.fi-059:before {
  content: "$";
}
.fi-072:before {
  content: "%";
}
.fi-071:before {
  content: "&";
}
.fi-058:before {
  content: "'";
}
.fi-045:before {
  content: "(";
}
.fi-032:before {
  content: ")";
}
.fi-044:before {
  content: "*";
}
.fi-057:before {
  content: "+";
}
.fi-070:before {
  content: ",";
}
.fi-069:before {
  content: "-";
}
.fi-068:before {
  content: ".";
}
.fi-067:before {
  content: "/";
}
.fi-066:before {
  content: ":";
}
.fi-079:before {
  content: ";";
}
.fi-092:before {
  content: "<";
}
.fi-105:before {
  content: "=";
}
.fi-118:before {
  content: ">";
}
.fi-131:before {
  content: "?";
}
.fi-144:before {
  content: "@";
}
.fi-145:before {
  content: "[";
}
.fi-132:before {
  content: "]";
}
.fi-119:before {
  content: "^";
}
.fi-106:before {
  content: "_";
}
.fi-093:before {
  content: "`";
}
.fi-080:before {
  content: "{";
}
.fi-081:before {
  content: "|";
}
.fi-094:before {
  content: "}";
}
.fi-107:before {
  content: "~";
}
.fi-120:before {
  content: "\\";
}
.fi-133:before {
  content: "\e000";
}
.fi-146:before {
  content: "\e001";
}
.fi-147:before {
  content: "\e002";
}
.fi-134:before {
  content: "\e003";
}
.fi-121:before {
  content: "\e004";
}
.fi-108:before {
  content: "\e005";
}
.fi-095:before {
  content: "\e006";
}
.fi-082:before {
  content: "\e007";
}
.fi-083:before {
  content: "\e008";
}
.fi-096:before {
  content: "\e009";
}
.fi-109:before {
  content: "\e00a";
}
.fi-122:before {
  content: "\e00b";
}
.fi-135:before {
  content: "\e00c";
}
.fi-148:before {
  content: "\e00d";
}
.fi-149:before {
  content: "\e00e";
}
.fi-136:before {
  content: "\e00f";
}
.fi-123:before {
  content: "\e010";
}
.fi-110:before {
  content: "\e011";
}
.fi-097:before {
  content: "\e012";
}
.fi-084:before {
  content: "\e013";
}
.fi-085:before {
  content: "\e014";
}
.fi-098:before {
  content: "\e015";
}
.fi-111:before {
  content: "\e016";
}
.fi-124:before {
  content: "\e017";
}
.fi-137:before {
  content: "\e018";
}
.fi-150:before {
  content: "\e019";
}
.fi-151:before {
  content: "\e01a";
}
.fi-138:before {
  content: "\e01b";
}
.fi-125:before {
  content: "\e01c";
}
.fi-112:before {
  content: "\e01d";
}
.fi-099:before {
  content: "\e01e";
}
.fi-086:before {
  content: "\e01f";
}
.fi-087:before {
  content: "\e020";
}
.fi-100:before {
  content: "\e021";
}
.fi-113:before {
  content: "\e022";
}
.fi-126:before {
  content: "\e023";
}
.fi-139:before {
  content: "\e024";
}
.fi-152:before {
  content: "\e025";
}
.fi-153:before {
  content: "\e026";
}
.fi-140:before {
  content: "\e027";
}
.fi-127:before {
  content: "\e028";
}
.fi-114:before {
  content: "\e029";
}
.fi-101:before {
  content: "\e02a";
}
.fi-088:before {
  content: "\e02b";
}
.fi-089:before {
  content: "\e02c";
}
.fi-102:before {
  content: "\e02d";
}
.fi-115:before {
  content: "\e02e";
}
.fi-128:before {
  content: "\e02f";
}
.fi-141:before {
  content: "\e030";
}
.fi-154:before {
  content: "\e031";
}
.fi-155:before {
  content: "\e032";
}
.fi-142:before {
  content: "\e033";
}
.fi-129:before {
  content: "\e034";
}
.fi-116:before {
  content: "\e035";
}
.fi-103:before {
  content: "\e036";
}
.fi-090:before {
  content: "\e037";
}
.fi-091:before {
  content: "\e038";
}
.fi-104:before {
  content: "\e039";
}
.fi-117:before {
  content: "\e03a";
}
.fi-130:before {
  content: "\e03b";
}
.fi-143:before {
  content: "\e03c";
}
.fi-156:before {
  content: "\e03d";
}
.fi-157:before {
  content: "\e03e";
}
.fi-170:before {
  content: "\e03f";
}
.fi-183:before {
  content: "\e040";
}
.fi-196:before {
  content: "\e041";
}
.fi-209:before {
  content: "\e042";
}
.fi-222:before {
  content: "\e043";
}
.fi-223:before {
  content: "\e044";
}
.fi-210:before {
  content: "\e045";
}
.fi-197:before {
  content: "\e046";
}
.fi-184:before {
  content: "\e047";
}
.fi-171:before {
  content: "\e048";
}
.fi-158:before {
  content: "\e049";
}
.fi-159:before {
  content: "\e04a";
}
.fi-172:before {
  content: "\e04b";
}
.fi-185:before {
  content: "\e04c";
}
.fi-198:before {
  content: "\e04d";
}
.fi-211:before {
  content: "\e04e";
}
.fi-224:before {
  content: "\e04f";
}
.fi-225:before {
  content: "\e050";
}
.fi-212:before {
  content: "\e051";
}
.fi-199:before {
  content: "\e052";
}
.fi-186:before {
  content: "\e053";
}
.fi-173:before {
  content: "\e054";
}
.fi-160:before {
  content: "\e055";
}
.fi-161:before {
  content: "\e056";
}
.fi-174:before {
  content: "\e057";
}
.fi-187:before {
  content: "\e058";
}
.fi-200:before {
  content: "\e059";
}
.fi-213:before {
  content: "\e05a";
}
.fi-226:before {
  content: "\e05b";
}
.fi-227:before {
  content: "\e05c";
}
.fi-214:before {
  content: "\e05d";
}
.fi-201:before {
  content: "\e05e";
}
.fi-188:before {
  content: "\e05f";
}
.fi-175:before {
  content: "\e060";
}
.fi-162:before {
  content: "\e061";
}
.fi-163:before {
  content: "\e062";
}
.fi-176:before {
  content: "\e063";
}
.fi-189:before {
  content: "\e064";
}
.fi-202:before {
  content: "\e065";
}
.fi-215:before {
  content: "\e066";
}
.fi-228:before {
  content: "\e067";
}
.fi-229:before {
  content: "\e068";
}
.fi-216:before {
  content: "\e069";
}
.fi-203:before {
  content: "\e06a";
}
.fi-190:before {
  content: "\e06b";
}
.fi-177:before {
  content: "\e06c";
}
.fi-164:before {
  content: "\e06d";
}
.fi-165:before {
  content: "\e06e";
}
.fi-178:before {
  content: "\e06f";
}
.fi-191:before {
  content: "\e070";
}
.fi-204:before {
  content: "\e071";
}
.fi-217:before {
  content: "\e072";
}
.fi-230:before {
  content: "\e073";
}
.fi-231:before {
  content: "\e074";
}
.fi-218:before {
  content: "\e075";
}
.fi-205:before {
  content: "\e076";
}
.fi-192:before {
  content: "\e077";
}
.fi-179:before {
  content: "\e078";
}
.fi-166:before {
  content: "\e079";
}
.fi-167:before {
  content: "\e07a";
}
.fi-180:before {
  content: "\e07b";
}
.fi-193:before {
  content: "\e07c";
}
.fi-206:before {
  content: "\e07d";
}
.fi-219:before {
  content: "\e07e";
}
.fi-232:before {
  content: "\e07f";
}
.fi-233:before {
  content: "\e080";
}
.fi-220:before {
  content: "\e081";
}
.fi-207:before {
  content: "\e082";
}
.fi-194:before {
  content: "\e083";
}
.fi-181:before {
  content: "\e084";
}
.fi-168:before {
  content: "\e085";
}
.fi-169:before {
  content: "\e086";
}
.fi-182:before {
  content: "\e087";
}
.fi-195:before {
  content: "\e088";
}
.fi-208:before {
  content: "\e089";
}
.fi-221:before {
  content: "\e08a";
}
.fi-234:before {
  content: "\e08b";
}
.fi-235:before {
  content: "\e08c";
}
.fi-248:before {
  content: "\e08d";
}
.fi-249:before {
  content: "\e08e";
}
.fi-236:before {
  content: "\e08f";
}
.fi-237:before {
  content: "\e090";
}
.fi-250:before {
  content: "\e091";
}
.fi-251:before {
  content: "\e092";
}
.fi-238:before {
  content: "\e093";
}
.fi-239:before {
  content: "\e094";
}
.fi-252:before {
  content: "\e095";
}
.fi-253:before {
  content: "\e096";
}
.fi-240:before {
  content: "\e097";
}
.fi-241:before {
  content: "\e098";
}
.fi-254:before {
  content: "\e099";
}
.fi-255:before {
  content: "\e09a";
}
.fi-242:before {
  content: "\e09b";
}
.fi-243:before {
  content: "\e09c";
}
.fi-256:before {
  content: "\e09d";
}
.fi-257:before {
  content: "\e09e";
}
.fi-244:before {
  content: "\e09f";
}
.fi-245:before {
  content: "\e0a0";
}
.fi-258:before {
  content: "\e0a1";
}
.fi-259:before {
  content: "\e0a2";
}
.fi-246:before {
  content: "\e0a3";
}
.fi-247:before {
  content: "\e0a4";
}
.fi-260:before {
  content: "\e0a5";
}
